@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.centr{
border: 5px solid #FFFF00;
display: flex;
justify-content: center;
}

}
.input-field{
  width:350px;
  max-width:90%;
  position:relative
}
input{
    width:100%;
    height:50px;
    padding: 0 10px ;
    background:transparent;
    border: 2px solid #CFD8DC;
    color:#fff;
    font-size:15px;
    border-radius:3px;
    outline:none;
    box-shadow:4px 4px 0px #CFD8DC;
}
 .input-field button{
    width:2rem;
    text-align:center;
    font-size:1.2rem;
    background:transparent;
    border:none;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:13px;
    cursor:pointer;
    color:#fff;
    animation: arrowani 0.5s linear infinite alternate;
  }

  #strength{
    font-weight:600;
  }

@keyframes arrowani{
  100% {
   padding-left:10px;
  }
}