@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.title{  
  text-align:center;
  margin-bottom:3rem;
  color:#fff;
  text-shadow:-5px 5px 2px #546E7A;
}

.centr{
border: 5px solid #FFFF00;
display: flex;
justify-content: center;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content:center;
  gap:50px;
  flex-direction:column;
  background:#37474F;
  font-family: Montserrat, sans-serif;
}
.input-field{
  width:350px;
  max-width:90%;
  position:relative
}
input{
    width:100%;
    height:50px;
    padding: 0 10px ;
    background:transparent;
    border: 2px solid #CFD8DC;
    color:#fff;
    font-size:15px;
    border-radius:3px;
    outline:none;
    box-shadow:4px 4px 0px #CFD8DC;
}
 .input-field button{
    width:2rem;
    text-align:center;
    font-size:1.2rem;
    background:transparent;
    border:none;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:13px;
    cursor:pointer;
    color:#fff;
    animation: arrowani 0.5s linear infinite alternate;
  }
  
  p{
    position:absolute;
    bottom:-25px;
    color:#fff;
    display:none;
  }
  #strength{
    font-weight:600;
  }

@keyframes arrowani{
  100% {
   padding-left:10px;
  }
}