@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

/* Navigation menu inspiration from  https://codepen.io/SitePoint/pen/uIemr */

/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #111;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 0.7em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.0em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #04fc4e;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(19, 168, 106, 0.65) 100%);
}

/* Dropdown Menu...https://codepen.io/andornagy/pen/xhiJH */

/* Hide Dropdowns by Default */
.codeDropDownMenu {
  display: none;
  position: absolute;
}

/* Display Dropdowns on Hover */
.navigation #codeDDmenu:hover > .codeDropDownMenu {
	display:inherit;
}

.codeDropDownMenu li{
  width:145px;
	float:none;
	display:list-item;
  position: relative;
  background: greenyellow;
  color: #000;
  list-style: none;
  font-size: 15px;
}

.codeDropDownMenu a {
  color: black;
}

/* Hide Dropdowns by Default */
.otherStuffDropDownMenu {
  display: none;
  position: absolute;
}

/* Display Dropdowns on Hover */
.navigation #otherStuffDDMenu:hover > .otherStuffDropDownMenu {
	display:inherit;
}

.otherStuffDropDownMenu li{
  width:150px;
	float:none;
	display:list-item;
  position: relative;
  margin-right: 5px;
  background: greenyellow;
  color: #000;
  list-style: none;
  font-size: 15px;
}

.otherStuffDropDownMenu a {
  color: black;
}
/* END Dropdown Menu */

/* container - Everything that isn't navigation */
.container {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-image: url("/img/linedpaper-dark.png");
  background-repeat: round;
  position: absolute;
  top: 0px;
  /* bottom: 100px; */
  left: 0px;
  z-index: 1;

  /* non-critical apperance styles */
  /*padding: 4em;
  background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);
  background-size: 200%;*/
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* Infinate FadeIn https://codepen.io/Ahrengot/pen/bKdLC */
@keyframes fadeOut { 
  from { opacity: 0.05; } 
}
label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("./img/menu.svg");
  background-size: contain;
  animation: 2.6s fadeOut infinite alternate;
}

/* Make the Magic Happen */
.nav-trigger + label, .container {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .container {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
  
  display: flex;
  margin: 0;
  /* overflow: hidden; */
  flex-wrap: wrap;
  height: 100vh;
  /* justify-content: center; */
  align-content: center;
}

#title {
  font-style: italic;
  font-weight: 400;
}

/* Additional non-critical styles */
.header {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 1em;
  height: 100vh;
  text-align: center;
  color:rgb(97, 97, 97);
  margin-left: 17%;
  margin-right: 17%;
  padding: 50px;
  }
  
  @media screen and (max-width: 600px) {
  .header {
    font-size: 1em;
    font-weight: 200;
    /* margin-left: -10px;
    margin-right: -10px;*/
  }

  .homepage {
    font-size: 0.8em;
    margin-left: -10px;
    margin-right: -10px;
  }

  }
  @media screen and (max-width: 830px) {
  .header {
    font-size: 2em;
  }

  .homepage {
    font-size: 1.5em;
    font-weight: 100;
  }
  }

 /* Carpe diem blockquote at home page */
#cd {
  position: absolute;
  font-family: 'Tangerine', cursive;
  bottom: 10px;
  right: 50px;
}

/* Micro reset */

*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }

/* CONTACT.html */

.social {
  /* positioning */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  height: 100vh;  
  /* style */
  font-size: 100px;
}

/* support for chrome to center icons in the middle of the screen */
.social:not(*:root) {
  padding-top: 0vh;
}

@media screen and (max-width: 600px) {
  .social {
    display: flex;
    flex-direction: column;
    height:100%;
    font-size: 60px;
  }
  }
@media screen and (max-width: 830px) {
  .social {
    font-size: 80px;
  }
  }

a {
  color: inherit;
  text-decoration: none;
}

.fa-github {
  padding:18px;
  /* HOVER OFF */
  transition: ease-out;
  -webkit-transition:1500ms;
}

.fa-github:hover{
  transition: ease-in;
  /* transition-duration: 1500ms; */
  color: rgb(227, 229, 230);
  /* HOVER ON */
  -webkit-transition: ease-out 1500ms;
}

.fa-twitter {
  padding: 18px;
  /* HOVER OFF */
  transition: ease-out;
  -webkit-transition:1500ms;
}

.fa-twitter:hover {
  transition: ease-in;
  /* transition-duration: 1500ms; */
  color: rgba(4, 198, 247, 0.801);
  /* HOVER ON */
  -webkit-transition: ease-out 1500ms;
}

.fa-reddit {
  padding: 18px;
  /* HOVER OFF */
  transition: ease-out;
  -webkit-transition:1500ms;
}

.fa-reddit:hover {
  transition: ease-in;
  /* transition-duration: 1500ms; */
  color: rgba(247, 4, 4, 0.508);
  /* HOVER ON */
  -webkit-transition: ease-out 1500ms;
}

.fa-instagram {
  padding: 18px;
  /* HOVER OFF */
  transition: ease-out;
  -webkit-transition:1500ms;
}

.fa-instagram:hover {
  transition: ease-in;
  /* transition-duration: 1500ms; */
  color: rgba(175, 194, 4, 0.671);
  /* HOVER ON */
  -webkit-transition: ease-out 1500ms;
}

.fa-envelope {
  padding: 18px;
  /* HOVER OFF */
  transition: ease-out;
  -webkit-transition:1500ms;
}

.fa-envelope:hover {
  transition: ease-in;
  /* transition-duration: 1500ms; */
  color: rgba(145, 34, 34, 0.671);
  /* HOVER ON */
  -webkit-transition: ease-out 1500ms;
}

@media (max-width : 640px) {
  .fa-envelope {
    margin-left: -5px;
  }
}

.fa-phone-square {
  padding-left: 18px;
  /* HOVER OFF */
  transition: ease-in;
  -webkit-transition:1500ms;
}

.fa-phone-square:hover {
  transition: ease-out;
  /* transition-duration: 1500ms; */
  color: #00000000;
  /* HOVER ON */
  -webkit-transition: ease-out 1500ms;
}

/* Contact - Show modal */

.modal {
  /* display: block; */
  display: none; /*display should be set to none, otherwise modal would popUp on page load*/
  background-color: #202b1b;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -292px;
  margin-top: -300px;
  padding: 50px;
  border-radius: 5px;
  /* z-index: 0; */
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.61);
}

#introvertDoodles {
  width: 100%;
  height: auto;
  padding:0px;
}

#modalClosePlus {
  position: absolute;
  top: 0;
  right: 14px;
  color: aliceblue;
  font-size: 50px;
  transform: rotate(45deg);
  cursor: pointer;
}

@media (max-width : 888px) {

  .modal {
    /* display:block; */
  	top: 0;
  	left: 0;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 15px;
  }

  .modal-content{
    clear: both;
    padding-top: 4rem;
    /* padding-right: 1.25rem */
  }
  
}
